body {
background-color: white;
color: #303030;
  font-family: Arial;
    margin: 30px;
}
a {
    margin-right: 15px;
}
a:link {
    color: blue;
}

a:visited {
    color: purple;
}

a:hover {
    color: darkred;
    text-decoration: underline;
}

a:active {
    color: red;
}
img {
    width: 150px;
}
